<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/top-menu.ejs'); %>      
        <div class="page page_donations">
            <h2>Minhas Coletas</h2>
            <%- include('partials/collect-list.ejs'); %>
        </div>
    </body>
</html>