<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/top-menu.ejs'); %>      
        <div class="page page_donations">
            <h2>Doações</h2>
            <%- include('partials/donation-list.ejs'); %>
        </div>
    </body>
</html>