<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/top-menu.ejs'); %>
        <div class="page page_info">
            <div class="section info">
                <h2>O que posso fazer com meu Oleo?</h2>
                <p>Grande quantidade de óleo é despejada na rede de esgoto e essa prática levar danos irreparáveis à natureza, contamina rios e mananciais hídricos, onera as estações de tratamento de água, polui o ar e aumenta a emissão de gases tóxicos. Atrelado a chuvas fortes, a presença de óleo nos tubos e encanamentos de esgoto pode facilitar enchentes, causando grandes estragos para as empresas e população. Segundo Bensmira (et al., 2007) não existe um modelo de descarte ideal do óleo de cozinha usado, mas alternativas de reaproveitamento e ter uma empresa especializada em reciclagem. Conforme o Instituto Ambiente em Foco (2013), um litro de óleo de cozinha que vai para o corpo hídrico (lagos e rios) contamina cerca de 1 milhão de litros de água equivalente ao consumo de uma pessoa em 14 anos. Segundo Freitas et al (2008) a quantidade de óleo de cozinha e gordura vegetal descartado no Brasil é de 9 milhões de litros de óleo por ano, mas apenas 2,5% é reciclado, separado, coletado, filtrado e reinserido na indústria para fazer sabonetes, glicerina, biodiesel e entre outras coisa que se pode ser reutilizado.</p>
            </div>
            <div class="section info">
                <h2>Por que e necessario Reutilizar Oleo?</h2>
                <p>A partir do óleo reciclado de forma correta, muitos outros produtos podem ser feitos. Sendo eles tintas à base de óleo, resinas, glicerinas e detergentes. Além de que o biodiesel, alternativa de combustível que agride menos o meio ambiente, também pode ser produzido a partir do óleo de cozinha usado. Biodiesel é um combustível que serve de alternativa para o óleo diesel derivado do petróleo. É produzido a partir de fontes renováveis, como gordura animal ou óleos vegetais. Entre suas principais vantagens estão: Fatores econômicos – Como o biodiesel utiliza matérias-primas, em sua maioria, vegetais, a produção do biodiesel fortalece as regiões baseadas no agronegócio. Energia limpa e renovável – O biodiesel, quando comparado ao óleo diesel mineral, é capaz de reduzir a emissão de Carbono (CO2), além de não produzir outros gases poluentes e agressivos à saúde. Ainda, o ciclo de reutilização do óleo cria oportunidades de emprego e renda, diminui o risco de enchentes, melhora a qualidade de vida através de melhores condições ambientais e reduz os custos com tratamento de água e manutenção corretiva não só das empresas de tratamento, mas também da própria população.</p>
            </div>
        </div>
        <%- include('partials/bottom-menu.ejs'); %>
    </body>
</html>