<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/top-menu.ejs'); %>
        <div class="page page_perfil">
            <%- include('partials/perfil-form.ejs') %>
        </div>
    </body>
</html>