<%- include('partials/head.ejs') %>
    <body>
        <div class="page page_signup">
            <h1 class="logo">OILHELP</h1>
            <%- include('partials/perfil-form-new.ejs') %>
            <a href="/login">Já tem uma conta?</a>
        </div>
    </body>
</html>