<footer>
        <% if(role == 'DONOR') {%>
            <a class="footer_item" href="/minhas-doacoes">Minhas doações</a>
            
        <% } else { %>
            <a class="footer_item" href="/minhas-coletas">Minhas coletas</a>
        <% } %>
    <a class="footer_item" href="/perfil">Perfil</a>
</footer>