<div class="brand">
    <h1>OILHELP</h1>
    <span class="byline">Levando o descarte de óleo mais próximo de você!</span>
    <a href="/doar" class="btn btn--primary">Doar</a>
</div>
<div class="section about">
    <h2>O que fazemos?</h2>
    <div class="about_list">
        <p class="about_list_item">
            Descarte de forma segura do óleo
        </p>
        <p class="about_list_item">
            O óleo é recolhido na sua casa
        </p>
        <p class="about_list_item">
            Pode saber mais sobre o que pode ser feito com óleo usado
        </p>
    </div>
</div>
<div class="section oil">
    <h2>Quer saber mais sobre o óleo de cozinha que você doa?</h2>
    <p>Caso seja reutilizado de forma correta, o óleo pode servir para criação de diversos produtos, como o biodiesel que é uma alternativa ao combustível, que agride menos o meio ambiente, assim fortalecendo as áreas baseadas no agronegócio e melhorando na atmosfera, pois não produz gases poluentes agressivos a saúde. Com isso, foi realizada uma pesquisa com cerca de 31 pessoas para saber quantas pessoas reutiliza e descarta o óleo, e foi descoberto que cerca de 55% faz a reutilização do óleo, o enviando para terceiros ou até mesmo usando para fins pessoais, e aqueles que não reutilizam o óleo, 100% o descarta em locais indevidos, como no próprio quintal de casa, no lixo ou ralo da cozinha. Das pessoas que descartam o óleo, podemos ver existe ainda pelo menos 45% que descarta o óleo de maneira irregular agredindo o meio ambiente e causando prejuízos para empresas de tratamento de esgoto. E em cima disso decidimos montar um aplicativo que deixe mais próximo um descarte seguro do óleo apenas com um click.</p>
    <a href="/mais-informacoes" class="more">Saiba mais</a>
</div>