<header>
    <div class='nav'>
        <% if(['info', 'donations', 'perfil', 'collects'].includes(page)) { %>
            <a href="/" class="left">Voltar</a>
        <% } %>
        <a href="/logout" class="right">Sair</a>
    </div>
</header>